

#backgroundhome {
  background-color: #F2F2F2;
  background-image: url("../img/fondohome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow: visible;
  height: auto;
}

#logohome { 
  margin-left: 50%;   
  width: 400px;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 10px;

  transform: translateX(-50%);
  opacity: 0.9;
}
#h4home {
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
  background: rgb(255, 162, 0);
  margin-top: 1%;
}