@media screen and (max-width: 600px) {
  .viewproduct {
    position: absolute;
    bottom: 10px; /* Posición desde abajo */
    right: 10px;
  }
  .ver-producto{
    width: 35%;
    padding: 2px;
    float: right;
  }
  #product {
    grid-template-columns: repeat(1, 1fr);
  }
  #logohome {
    display: none;
  }
  #imgcarrito{
    float: left;
    margin-right: 150%;
  }
  
}
@media screen and (max-width: 1250px) {
  .viewproduct {
    position: absolute;
    bottom: 10px; /* Posición desde abajo */
    right: 10px;
  }
  .ver-producto{
    width: 35%;
    padding: 2px;
    float: right;
  }
  #product {
    grid-template-columns: repeat(1, 1fr);
  }
  #logohome {
    display: none;
  }
  #imgcarrito{
    float: left;
    margin-right: 150%;
  }
 
}
@media only screen and (max-width: 768px) {  
  .viewproduct {  
    position: absolute;  
    bottom: 10px;  
    right: 10px;  
  }  
  .ver-producto{
    width: 35%;
    padding: 2px;
    float: right;
  }
  #product {  
    grid-template-columns: repeat(1, 1fr);  
  }  
  #logohome {  
    display: none;  
  } 
  main {  
    display: flex;  
    flex-direction: column;  
  }  

  .container-img {  
    order: -1; 
  }  

  .container-info-product {  
    order: 1;  
  } 
  #imgcarrito{
    float: left;
    margin-right: 150%;
  }  
  
} 
