<html>

<head>
    <title>Login</title>
    <meta name="Bumovar login" content="login para ingresar a Bumovar, tienda online de venta de ropa">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../css/estilos.css" media="all"/>

    <!-- js -->
    <script src="../js/basics.js" defer></script>
    <script src="../js/login_screen.js" defer></script>
    
    <!-- Para que actualice el js -->
    <meta http-equiv=”Expires” content=”0″>
    <meta http-equiv=”Last-Modified” content=”0″>
    <meta http-equiv=”Cache-Control” content=”no-cache, mustrevalidate”>
    <meta http-equiv=”Pragma” content=”no-cache”>

</head>
<body class="login-registration">
    <div class="contenedor-login sombra">
        <h1>Iniciar Sesion</h1>
        <h3>Comienza tu busqueda de compra-venta en Bumovar</h3>
        <form action="" id="form" name="login_form" method="get">
            <input onblur="validarUsuario()" type="text" id="userid" name="userid" placeholder="Nombre de Usuario">
            <p id="erroruser" class="error-message"></p>
            
            <input onblur="validarcontraseña()" type="password" id="userpassword" name="userpassword" placeholder="Contrase&nacute;a">
            <p id="errorpassword" class="error-message"></p>
            
            <a>¿Olvidaste tu contrase&nacute;a?</a>
            
            <button type="submit" onclick="validarFormulario()" class="button">Iniciar Sesi&oacute;n</button>
            <p class="new">¿Nuevo en Bumovar? <a href="Registration_screen.html">Crea tu cuenta aqu&iacute;.</a></p>
        </form>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-section about">
                <h2>Sobre Nosotros</h2>
                <p>Nos dedicamos a la venta de articulos de ropa de manera confiable, online, y directo a tu casa.</p>
            </div>
            
            <div class="footer-section contact-form">
                <h2>Subscríbete</h2>
                <form action="#">
                    <input type="email" placeholder="Ingresa tu correo">
                    <button type="submit">Subscribirse</button>
                </form>
            </div>
           
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Bumovar. Todos los derechos reservados.</p>
        </div>
    </footer>      
</body>

</html>